@charset "utf-8";
table {
    margin-top: 20px;
}
.list {
    position: static!important;
}

.adminGroupTbl>thead>tr th,
.adminMemberTbl>thead>tr th {
    font-size: 0.9em;
    text-align: center;
}

.adminGroupTbl tr>td>a:hover {
	color:#fb3;
}