@charset "utf-8";
/*게시글 조회 영역 상단*/
.sc2_subsection_title {
	border:none;
}

.writerInfo {
	margin-left: 10px;

}

/* 게시글 내용 영역 */
#contentArea {
	position: relative;
}
.contentEditTool {
	position: absolute;
	padding: 10px;
	right:0;
	top:0;
}

/* 게시글 조회 부분 */
.boardView {
  margin: 0 auto;
  /* padding: 30px; */
}

.atricleArea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
}
/* 목록 버튼 오른쪽 정렬 */
.articleToolBtns {
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 10px;
}
.articleToolBtns a:last-child {
  float: right;
  cursor: pointer;
}
.articleContentBox {

}
/* 제목 영역 */
.articleHeader {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  overflow: hidden;
  position: relative;
}
.articleHeader{
	display: grid;
}

.articleTitle {
/*
display:table-cell;
vertical-align:middle;
line-height: 20px;
margin: 15px 0 15px 0;
*/
	padding: 15px 15px;
	display:flex;
  
}
.titleHead {
  /*width: 150px;
  text-align: center;*/
  width: 50px;
  margin: 5px 0;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.titleHead .brackets {
	display:inline-block;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #ffbb33;
}
.title {
	word-break: break-all;
	font-size: 20px;
}
.titleArea {
	display: inline-block;
	font-size: 20px;  
	vertical-align: middle;
}

/* 작성자 폰트 사이즈 좀 작게 - common에서 폰트 사이즈 정해지면 그보다 작게 수정 */
.writerInfo {
  font-size: 13px;
  margin: 0 0 10px;
	padding: 0 10px;

}
.thumbArea {
	display: inline-block;
	float:left;
}
.thumbArea img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #ccc;
}
.profileArea {
	display:table-cell;
	vertical-align: middle;
  padding: 0 10px;
  margin-bottom: 5px;
  width: 150px;
  height: 45px;
  position: relative;
}
.writerNick {
  /* 작성자 닉네임 */
  border: none;
  background-color: transparent;
  font-weight: bold;
  margin: 3px 0;
}
.profileArea .date {
	margin: 3px 0;
}
.articleInfo .date {
  position: absolute;
  top: 20px;
  left: 10px;
}
/* 댓글, URL복사, 더보기 영역 */
.articleTool {
  position: absolute;
  bottom: 15px;
  right: 25px;
  font-size: 13px;
}
.topComment, .viewCnt {
	margin-right:5px;
}

.buttonUrl {
	cursor: pointer;
}


/* 내용 영역 */
.contentArea {
    padding: 30px 10px;
}
.content p {
	word-break: break-all;
}
/* 댓글 영역 */
.commentArea {
  border-top: 3px solid #ccc;
}
.comment {
  font-weight: bold;
  margin: 15px 10px;
}
.comment span {
	display:inline-block;
	margin-left: 5px;
}

.commentList {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.commentItem{
	list-style: none;	
	border-top: 1px solid #ccc;
	padding: 12px 23px 10px 0;
}

.commentItem:first-child {
  border-top: 0;
}
.replyCommentItem {
	margin-left:50px;
}
.commentbox {
  position: relative;
  padding-left: 60px;
}
.commentTool {
	position: absolute;
	top:0;
	right:0;
}
.btnSubmitRe {
	color: #999;
	cursor:default;
}
.btnSubmitRe.active{
	color:#000;
	cursor:pointer;
}


.commentTool .comToolBtn a:hover, .replyCom a:hover,
.btnRemoveRe:hover, .btnSubmitRe.active:hover{
	color:#fb3;
}
.comDel {
	margin-left:5px;
}
.commentbox div:not(:first-child) {
  margin: 10px 5px;
}
/* 프로필 사진 */
.commentThumb img {
  width: 40px;
  height:40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 10px;
  background-color: #ccc;
}

.commentNick .commentNickInfo {
  font-weight: bold;
}
.viewTextArea {
	width: 100%;
	height:auto;
  /*min-height: 70px;*/
  padding: 10px 5px;
  border: 0;
  font-size: 13px;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  box-sizing: border-box;
  background: transparent;
  border-radius: 2px;
  outline-color: #ffd480;
	border: none;
}
.commentInfo {
	position:relative;
	vertical-align: middle;
}
.commentDate, .comDate{
	color: #999;
	font-size: 11px;
}
.replyCom {
	margin-left:10px;
	color: #999;
	font-size: 12px;
}
.modReply {
	position:absolute;
	right: 8px;
	display:inline-block;
	text-align: right;
	font-weight: bold;
	visibility: hidden;
}
.modReplyBtn{
	margin:0 5px;
}
.modReplyBtn:hover{
	color:#fb3;
}

/* 댓글에 답글 form*/
.commentReWriter {
  margin: 12px 0 20px 0;
  padding: 15px 18px 10px 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.btnReCom {
	border:none;
}

/* 댓글 쓰기 */
.commentWriter {
  margin: 12px 0 20px 0;
  padding: 16px 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.commentInbox {
  font-size: 13px;
  padding: 5px;
}
.commentInboxText {
  width: 100%;
  /*min-height: 70px;*/
  margin-top: 5px;
  padding: 15px 5px;
  border: 0;
  font-size: 13px;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline-color: #ffd480;
}
.commentRegister {
  float: right;
  margin-top:5px;
  padding-right:5px;
}


/* 아래쪽 버튼 영역 */
.btn {
  display: inline-block;
  font-size: 15px;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  margin: 0 10px;

}
.btn:not(.btnTop):hover{
	color:#ffbb33;
}

.articleBottomBtns {
  overflow: hidden;
}
.articleBottomBtns .leftArea {
  float: left;
}
.articleBottomBtns .rightArea {
  float: right;
}

.fa-caret-up {
	font-size:15px;
	line-height:15px;
	margin-right:8px;
	vertical-align: middle;
	color:#ffbb33;
}
