/* #contentsArea {
  margin: 0 auto;
  display: flex;
  position: relative;
} */
/* .sc2_subcontents {
  display: flex;
  padding: 30px;
}
.sc2_menu {
  width: 230px;
  margin-left: 20px;
  position: sticky;
  top: 120px;
}
.sc2_section_title {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.sc2_section_title span {
  font-size: 30px;
  font-weight: 800;
} */

/* 게시판 부분 */
/* .board {
  margin: 0 auto;
  width: 850px;
  padding: 30px;
} */

.boardArea {
	width:100%;
	margin: 0 auto;
	text-align: center;
	
}
.search {
  /*margin: 30px 0 0px 100px;*/
  margin-top:30px;
  height: 36px;
  line-height: 36px;
}
.search select {
  height: 36px;
  width: 100px;
  border: 1px solid #ccc;
}
.search input {
  height: 25px;
  width: 500px;
  border: 1px solid #ccc;
}
.boardListArea {
	margin:0 auto;

  	display: block;
  	padding: 10px;
  /* border: 2px solid #ccc; */
}

/* 게시글목록 table 시작 */
.boardList {
	width:100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #666;
}
.boardList tr {
  margin: 10px;
  height: 30px;
  /* border-bottom: 2px solid #ccc; */
  padding: 10px;
}

.boardList tr:not(:last-child){
  border-bottom: 1px solid #f0f0f0; 
}
.boardList tr:first-child {
	height: 40px;
}
.boardListHead {
  border-bottom: 1px solid #666;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

.boardList td,
.boardList th {
  vertical-align: middle;
}
.boardList tr > td:nth-child(1), .boardList tr > th:nth-child(1) {
  width: 10%;
}
.boardList tr > td:nth-child(2), .boardList tr > th:nth-child(2) {
  width: 40%;
  text-align: center;
}
.boardList tr > td:nth-child(4), .boardList tr > td:nth-child(4){
  width: 15%;
}
.boardList tr > td:nth-child(5),.boardList tr > td:nth-child(5) {
  /* color: #333; */
  width: 15%;
}
.boardList tr > td:nth-child(6), .boardList tr > td:nth-child(6) {
  width: 10%;
}

.boardList tr > td:nth-child(3), .boardList tr > td:nth-child(3) {
	width: 15%;
  vertical-align: middle
}
.boardList tr> td {
	padding: 10px 0;
}
.titleArea {
	/*
width: auto;
  display: inline-block;
  padding:0;
  margin:0;*/
  display:table-cell;
   vertical-align: middle;
}

.titleInner {
	width:auto;
	margin-left: 40px;
}

.titleLink {
	display:table-cell;
}

.titleLink:hover{
	color:#fb3;
}

.titleInner a:hover{
	color:#fb3;	
}
.title {
  display: -webkit-box;
  /*max-width: 80%;*/
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.commentArea {
	/*
  display: inline-block;
  width: 8%;
  margin-left: 3px;*/
  display:table;
  margin-left:3px;
  white-space: nowrap;  
}
.cmtLink {

}
.cmt {
	display: inline-block;
  margin-left: 3px; 
	font-size: 0.7em;
	font-weight: bold;
	color: #606060;
}
.cmt::before {
  content: "[";
}

.cmt::after{
  content: "]";
}

.bottomBtn {
  text-align: right;
  padding: 15px;
}

.pagenation {
  height: 40px;
  line-height: 60px;
  text-align: center;
}
.pagenation .paging {
  margin: 5px 10px;
  color:#404040;
}
.pagenation .paging > a:hover{
	color: #fb3;
}
.currentPage {
	font-family: "NeoExHeavy";
	color: #222;
	
}
.prev {
	margin-right:5px;
}
.next {
	margin-left: 5px;
}