@charset "utf-8";
.comment_box {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.user-comment {
    margin: 30px 0 50px 0;
}
.comments-section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px orange
}

.comments-section p {
    line-height: 20px;
    word-break: break-all;
    margin: 0 auto 5px;
}

.comments-section .comment-author {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #547ef8;
    /* color: var(--main-color); */
}

.comments-section .comment-time {
    font-size: 11px;
    margin-left: 10px;
    color: #a7a5a5;
}

.comments-section .comment-content {
    font-size: 16px;
    padding-bottom: 0px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #888888;
    white-space: pre-line;
    word-break: keep-all;
    margin-top: 5px;
}
.comment_textarea {
	display: flex;
    align-items: flex-end;
    word-break: break-all;
}
.comments-section .comment-post-reply .comment-content,
.comments-section .comment-post-reply .comment-author {
    color: #888888; 
}

.comments-section textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #ccccccad;
    border-radius: 4px;
    padding: 10px; 
}
.comment-like-unlike {
	display: inline-block;
	margin-left: 10px;
}
.comment-like-unlike span i {
    font-size: 14px;
    color: #547ef89e;
    cursor: pointer;
    width: 20px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
.comment-like-unlike span i:hover {
    color: #547ef8;
    transition: 0.3s ease-in-out;
}
.comment-post, .comment-post-reply {
    display: flex;
    margin: 25px 0;
}
.comment-details {
    margin-left: 25px;
}
.comment_details_titlebox {
    display: flex;
    justify-content: space-between;
}
.comment_title {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.comment_group_title {
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.comment_board_title {
    padding-left: 10px;
    font-size: 14px;
}
.comment-post-reply {
    margin-left: 85px;
    margin-bottom: 40px;
}
.comments-section {
    border-radius: 10px;
    box-shadow: 3px 3px 5px #ccc;
}
.comments-section .btn--blue {
    -webkit-box-shadow: 0 3px 32px rgba(85, 126, 248, .54);
    box-shadow: 0 3px 32px rgba(85, 126, 248, .54);
    background-color: #557ef8;
    padding: 0 40px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    border: none;
    font-family: Catamaran;
    font-weight: 400;
    text-decoration:none;
    margin-top:10px;
}