@charset "utf-8";

.clearfixed:after {
  content: "";
  display: block;
  clear: both;
}

/* 일정등록, 확인 영역 시작 */
.schedule {
  width: 53.125em;
  margin: 0 auto;
}
.calendarSchedule {
  margin-top: 30px;
  display: flex;
}

/* 달력부분 mySchedule.css----- */
.scheduleCalendar {
  flex: 1;
}

div.myScheduleCalAndList {
  display: flex;
}

#myScheduleCalendarArea {
  flex: 1;
}

.calendarTable {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #aaaaaa;
  background: #fff;
}
/*
.calendarTable tr {
  font-weight: normal;
}

.calendarTable .prev {
  margin-right: 3.125em;
}
.calendarTable .next {
  margin-left: 3.125em;
}
.calendarTable .today {
  margin: 0 0.625em 0 0.9375em;
  background-color: #fff;
  border: 1px solid var(--main-color);
}
*/

.calendarTable td {
  width: 80px;
  height: 75px;
}
.calDate {
  height: 50px;
  position: relative;
  line-height: 35px;
}
.calDate span {
  height: 40px;
}
.calWeek {
  height: 40px;
}

.calendarTable span {
  margin: 0 15px;
  font-size: 1.2em;
}
.calendarTable button {
  margin: 0 10px;
}
.calendarTable .today {
  background-color: #fff;
  border: 1px solid var(--main-color);
}
.calendarTable td.passedDay.hasDay {
  /* 음... 지나간날 css */
}
.calendarTable td.hasDay {
  text-align: center;
  cursor: pointer;
}
.calendarTable td.hasDay:hover {
  background: var(--sub3-color);
}
.calendarTable tbody td.selectDay.hasDay:not(.passedDay) {
  background: var(--sub2-color);
}
.calendarTable .blue {
  color: rgb(73, 73, 223);
}
.calendarTable .red {
  color: rgb(231, 75, 75);
}

/* 일정 리스트*/
div.myScheduleListArea {
  flex: 1;
  width: 40%;
  padding-top: 10px;
}
div.myScheduleListArea h3 {
 font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 5px;    
    border-bottom: 1px solid #909090;
}
div.myScheduleListArea p {
	padding-left: 5px;
}
div.mySchedule {
  margin-bottom: 32px;
  margin-left: 20px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
div.myScheduleImgContent {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
}
div.groupImg {
  width: 85px;
  height: 85px;
  background-image: url(../images/books.jpg);
  background-size: 100px 100px;
  border-radius: 5px;
}
div.groupImg img {
  width: 85px;
  height: 85px;
  border-radius: 10px;
}
div.myScheduleContent {
  display: flex;
  flex-direction: column;  
}
div.mySchedule p.myScheduleDate {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 7px;
  padding-left: 15px;
}
div.mySchedule p.myScheduleDate span {
  font-size: 0.8em;
  color: #666;
  margin-left: 5px;
  font-weight: normal;
}

div.mySchedule p.contents {
  font-size: 1.0em;
  margin-top: 8px;
  line-height: 20px;
}
div.mySchedule p.contents.location {
  font-size: 13px;
  
}
div.mySchedule p.contents .fa-location-dot {
  font-size: 0.8em;
  color: var(--main-color);  
  padding-right: 5px;
}


/* -----일정조회/등록/상세보기 영역------ */
/* 빈 일정 */
/* .scheduleNone {
  border: 1px solid #ccc;
  margin: 1.25em 0;
  padding: 20px;
  position: relative;
}
.scheduleNone .topBtn {
  text-align: right;
} */
/* 일정 조회 */
.scheduleDetailArea {
  position: relative;
  display: none;
}
#schedule_Title {
  padding-bottom: 5px;
}
.scheduleTitle p {
  text-align: left;
  padding: 0.3125em;
  width: 50%;
  border: none;
  background-color: #f5f5f5;
}
/*일정 상세보기 영역*/
.scheduleDetail {
  margin-top : 15px;
  position: relative;
}
/*일정 추가및 수정 영역*/
.scheduleEdit {
  display: flex;
  position: relative;
  margin-top: 15px;
  /*padding: 15px;*/
  display: none;
}
/* 상세일정 등록하기*/
.detailTop {
  display: flex;
  justify-content: space-between;
}
.detailTop h3 {
  margin-bottom: 1em;
}
.editBtn {
  padding: 15px 0px;
  text-align: right;
}
/* .btnDel {
  color: red;
} */

/*-- 내부 영역 공통 css --*/
/* 내용 + 지도 영역 */
.contentLocationMap {
 display: flex;
}
/*
.contentLocationMap {
 display: flex;
  margin: 0 auto;
  padding: 0.625em 0;
 background-color: #f5f5f5; 
}
.contentLocationArea {
  display: flex;
}
*/
/* 내용부분 */
.titleContent {
  flex: 1.3;
  padding: 20px;
}
.scheduleTitle {
  padding-bottom: 0.625em;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  border: transparent;
}
.scheduleTitleText {
  text-align: left;
  padding: 0.3125em;
  width: 250px;
  border: 1px solid #efefef;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  /*background-color: #f5f5f5;*/
  resize: none;
}
.link {
  display: none
}
.content {
  margin: 0 auto;
  /* border: 1px solid #ccc; */
}
.dateTime {
  font-size: 0.9em;
}
.dateTime input {
  border: transparent;
  /*text-align: right;*/
  text-align:left;
  padding: 0.625em 0;
  position: relative;
  top: 2px;
  /*width: 250px;*/
}
#sche_dateTime {
  /*right: -20px;*/
}
.contentDetail {
  margin-bottom: 0.625em;
  text-align: center;
  /* border: 1px solid red; */
}
.contentDetail img {
  width: 12.5em;
}
.contentDetailText {
  resize: none;
  width: 99%;
  height: 358px;  
  outline: 0;
  border: 1px solid #efefef;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

/* 지도 부분 */
.locationMap {
  flex: 3;
  padding: 20px;
}
.locationMap h4 {
  margin: 0.875em 0;
}
#clickLatlng {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
}
.map {
  width: 100%;
  height: 25em;
  margin: 0 auto;
  background-color: antiquewhite;
}
/* 참석자 부분 */
.participant {
  /* padding-left: 1.25em; */
  position: relative;
}
.participant h4 {
  margin: 0.875em 0;
}
.partMember {
  display: flex;
}
.partMember li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}
.partMember span {
  width: 60px;
  display: grid;
  text-align: center;
}
.partMember img {
  border-radius: 50%;
  height: 40px;
}
/*
.partBtn button {
  position: relative;
  top: -15px;
  right: -5px;
}*/
#schedule_Title .partBtn {
	display: flex;
	align-items: center;
}

.partBtn a {
  /* float: right; */
  margin: 0.625em;
  position: absolute;
  top: -15px;
  right: 0px;
}
/* 이미지 슬라이드 추가 css*/
#attendCnt {
  margin-right: 15px;
  margin-top: 10px;	
  font-size: 14px;
}
.mainTitle {
  display: flex;
  justify-content: space-between;
}
/*참석자 이미지 슬라이드 시작*/

.animationSlide {
    /*width: 700px;*/
    /*width: 87.5%;*/
    width: 892px;
    overflow: hidden;
    margin: 20px auto;
}
.sliderPanel {
    position: relative;
    display: inline-block;
    width: max-content;
    display: flex;
}
.slideContent {
    display: inline-block;
    text-align: center;
    padding: 0 15px;
}
.memImg {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.memImg img{
	display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.memName {
    text-align: center;
    display: inline-block;
}
.memName span {
	font-size: 13px
}

.fa-chevron {
    font-size: 40px;
}
.fa-solid.btnActive {
    cursor: pointer;
    color: var(--btnActColor);
}
.btnEventPrev {
    position: absolute;
    top: 70px;
    left: 15px;
}
.btnEventNext {
    position: absolute;
    top: 70px;
    right: 15px;
}

.btnActive {
    cursor: pointer;
    color: var(--btnActColor);
}

/*참석자 이미지 슬라이드 종료*/

#button_modify {
	display: none;
}

#joinSchedule {
	width : 110px;
	cursor: pointer;
}
/* 일정 등록 추가 css */

#centerAddr {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap, #menu_wrap2 {position:absolute;top:0;left:0;bottom:0;width:230px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 2;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr ,#menu_wrap2 hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option,#menu_wrap2 .option{text-align: center;}
#menu_wrap .option p, #menu_wrap2 .option p {margin:10px 0;}  
#menu_wrap .option button,#menu_wrap2 .option button {margin-left:5px;}
#placesList li, #placesList2 li {list-style: none;}
#placesList .item, #placesList2 .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span, #placesList2 .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList2 .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info, #placesList2 .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray, #placesList2 .info .gray {color:#8a8a8a;}
#placesList .info .jibun, #placesList2 .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel, #placesList2 .info .tel {color:#009900;}
#placesList .item .markerbg, #placesList2 .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
.marker_1 {background-position: 0 -10px;}
.marker_2 {background-position: 0 -56px;}
.marker_3 {background-position: 0 -102px}
.marker_4 {background-position: 0 -148px;}
.marker_5 {background-position: 0 -194px;}
.marker_6 {background-position: 0 -240px;}
.marker_7 {background-position: 0 -286px;}
.marker_8 {background-position: 0 -332px;}
.marker_9 {background-position: 0 -378px;}
.marker_10 {background-position: 0 -423px;}
.marker_11 {background-position: 0 -470px;}
.marker_12 {background-position: 0 -516px;}
.marker_13 {background-position: 0 -562px;}
.marker_14 {background-position: 0 -608px;}
.marker_15 {background-position: 0 -654px;}
#pagination, #pagination2 {margin:10px auto;text-align: center;}
#pagination a,#pagination2 a {display:inline-block;margin-right:10px;}
#pagination .on,#pagination2 .on {font-weight: bold; cursor: default;color:#777;}

.menu_wrap_class{
	display:none;
}

/* 일정 있는 날 표시 */
.scheduleDate {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--heart-color);
	margin: 0 auto;
	margin-bottom: 3px;
}
